@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
 }

/* header and nav bar styling */

body{
    background-color: silver;
    font-family: 'PT Serif', serif;
}

#header{
    height: 50px;
    background-color: #fafafa;
}

#header h1{
    float: left;
    margin-left: 20px;
    font-size: 120%;
    
}
#header h1 a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    color: inherit;
    font-size: xx-large;
}


#menu{
    float: right;
}


#menu div{
    float: right;
    list-style-type: none;
    margin-right: 20px;
    font-size: 120%;

   
}

#menu a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    color: inherit;

}

#header, #menu{
    line-height: 50px;
}
.active{
    border-bottom: 2px solid rgb(130,87,34)
}


/* hero image and text */

#hero-image{
    height: 500px;
    width: 100%;
    background: url(../images/main-page-bikes.jpg) center center no-repeat;
    background-size: cover;

    position:  relative;
}

#hero-image-road-cycling{
    height: 90vh;
    width: 100%;
    background: url(../images/road-cycling.jpg) center no-repeat;
    background-size: cover;
}

#hero-image-mtb-cycling{
    height: 90vh;
    width: 100%;
    background: url(../images/main-cover.jpg) center no-repeat;
    background-size: cover;
}

#hero-text{
    
    color: rgb(206, 215, 245);
    
    font-size: 130%;
    text-transform: uppercase;

    height:100px;
    width:200px;
    background-color: rgba(9, 10, 6, 0.9);
    padding-left: 10px;
    padding-top: 20px;
    border: 2px solid rgb(255, 255, 255);


    bottom: 30px;
    left: 100px;

    position: absolute;
    
}

#home-video{
    background-color: silver;
}
/* positioning on videos */
.media iframe{
    border: 1px solid black;
    border-radius: 5px;
    width: 560px;
    height:315px;
}

.left iframe{
    float:left;
    margin: 20px 0 20px 50px;
}

.right iframe{
    float: right;
    margin: 20px 50px 20px 0;
}

/* how to center an iframe https://stackoverflow.com/questions/8366957/how-to-center-an-iframe-horizontally */
.center iframe{
    display: block;
    margin: auto;  
}

#center-message{
    width: 200px;
    height:100px;
    border: 2px solid rgb(130,87,34);
    background-color: aqua;
    border-radius: 5px;
        
    /* code to center vertically taken from https://stackoverflow.com/questions/2939914/how-do-i-vertically-align-text-in-a-div/13515693#13515693 */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    
    margin-left: auto;
    margin-right:  auto;  
    margin-top: 50px;  
    
    left: 0;
    right: 0;
    position: absolute;
}


.head-title h2{
    min-width: 320px;
    max-width: 420px;
    height: 50px;
    font-size: 180%;
    text-transform: uppercase;
    margin: 0 auto;
    background-color: rgba(130,87,34,0.8);
    border: 5px solid #000;
    border-radius: 100% 50% 100% 50%;
    text-align: center;

    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;


}
/* bikes styling  */

section > h2{
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(130,87,34);
}

#road-bikes li, #mtb li{
   
    width: 100%;

    margin: 0 auto;
    list-style-type: none;
    text-align: center;
}
#road-bikes div > img, #mtb div > img{
    height: auto;
    width: 500px;
    border: 2px solid rgb(130,87,34);
    border-radius: 5px;
    margin-top: 10px;
} 


/* Specifications table styling */

.bike-specs{
    margin: 0 auto;
    border: 2px solid rgb(130,87,34);
    border-radius: 5px;
    border-collapse: collapse;
    width: 500px;
    margin-bottom: 10px;

    
}


.bike-specs td{
    text-align: left;
    padding: 2px;

}

.bike-specs th{
    text-align: center;
    padding-right: 10px;
}


#road-bikes ul li h2, #mtb ul li h2{
    padding-top: 10px;
}

table{
    margin-bottom: 10px;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}


/* footer */

#footer{
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: #fafafa;
}


.social{
    float:right;
    margin-right: 20px;
    font-size: 200%;
}

.social a{
    color: inherit;
}

#footer p{
    float: left;
}


/* form styling */

#background-form-styling{
    width: 100%;
    height: 900px;
    background-image: url(../images/downhill.jpeg);
    background-position: center;
    background-size: cover;
}

.form{
    margin: 100px 10% 0 0;
    position: absolute;
    max-width: 300px;
    left: 10%;
    padding: 15px 30px;
    color: #fafafa;
    font-size: 120%;
    background-color: rgba(118, 116, 76, 0.8);
    border: 2px solid #fafafa;
    border-radius: 5px;
}



.form-input{
    color: #fff;
    background: transparent;
    width: 100%;
    margin: 5px 0 10px 0;
    height: 30px;
    border: 2px solid #fafafa;
    border-radius: 5px;
}


#submit, #reset{
    height: 50px;
    width: 75px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}
/* used to center submit and reset buttons. Source: https://coder-coder.com/how-to-center-button-with-html-css/ */
.form-btn-center{
    justify-content: center;
    display: flex;
}

#reset{
    float: right;
}

.form p{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.radio-button{
    display: inline-block;
}

.form-radio-center label{
    width: 100%;
    text-transform: uppercase;
    margin-right:15px;
    
}


/* styling learned on https://www.w3schools.com/cssref/sel_placeholder.asp */
::placeholder {
    color: #fafafa;
}

/* Styling for different sized screens 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
*/

@media screen and (min-width: 1451px) {
    #center-message-responsive-show{
        display: none;
    }
}

/* styling for 1450px: Desktops, large screens.  */
@media only screen and (max-width: 1450px) {
    #center-message-responsive-show{
    width: 200px;
    height:100px;
    border: 1px solid black;
    background-color: aqua;
    border-radius: 5px;
        
    /* code to center vertically taken from https://stackoverflow.com/questions/2939914/how-do-i-vertically-align-text-in-a-div/13515693#13515693 */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;

    margin-left: auto;
    margin-right:  auto;  
    margin-top: 20px;  
    
    left: 0;
    right: 0;
    position: relative;
    }

    #center-message{
        display: none;
    }

}

/* styling for 1250px: Desktops, large screens.  */
@media only screen and (max-width: 1250px) {
    #center-message-responsive-show{
    width: 200px;
    height:100px;
    border: 1px solid black;
    background-color: aqua;
    border-radius: 5px;
        
    /* code to center vertically taken from https://stackoverflow.com/questions/2939914/how-do-i-vertically-align-text-in-a-div/13515693#13515693 */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;

    margin-left: auto;
    margin-right:  auto;  
    margin-top: 20px;  
    
    left: 0;
    right: 0;
    position: relative;
    }

    .media iframe{
        border: 2px solid rgb(130,87,34);
        border-radius: 5px;
    }
    
    .left iframe{
        /* margin: 20px 0 20px 50px; */
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
}
    
    .right iframe{
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    
    /* how to center an iframe https://stackoverflow.com/questions/8366957/how-to-center-an-iframe-horizontally */
    .center iframe{
        display: block;
        margin: auto;  
        margin: 0 auto;
        
    }
    
}

/* Styling for 768px — 1024px:  Small screens, laptops */

@media only screen and (min-width:768px) and (max-width: 1024px) {

    /*Home page video positioning */
     #center-message-responsive-show{

        width: 200px;
        height:100px;
        border: 1px solid black;
        background-color: aqua;
        border-radius: 5px;
            
        /* code to center vertically taken from https://stackoverflow.com/questions/2939914/how-do-i-vertically-align-text-in-a-div/13515693#13515693 */
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;

        margin-left: auto;
        margin-right:  auto;  
        margin-top: 20px;  
        
        left: 0;
        right: 0;
        position: relative;

    }

    
    .media iframe{
        border: 1px solid black;
        border-radius: 5px;
    }
    
    .left iframe{
        /* margin: 20px 0 20px 50px; */
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
}
    
    .right iframe{
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    
    /* how to center an iframe https://stackoverflow.com/questions/8366957/how-to-center-an-iframe-horizontally */
    .center iframe{
        display: block;
        margin: auto;  
        margin: 0 auto;
        
    }
    
    #center-message{
        
        width: 200px;
        height:100px;
        border: 1px solid black;
        background-color: aqua;
        border-radius: 5px;
            
        /* code to center vertically taken from https://stackoverflow.com/questions/2939914/how-do-i-vertically-align-text-in-a-div/13515693#13515693 */
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        
        margin-left: auto;
        margin-right:  auto;  
        margin-top: 50px;  
        
        left: 0;
        right: 0;
        position: absolute;

        display: none;
}
    
    /* form styling */
    .form{
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        
    }
    #submit, #reset{
        float: right;
        margin-right: 10px;
    }

    .form-btn-center{
        
        justify-content: center;
        display: flex;
    }

    
}

/* Styling for 590px: Styling for videos to fit screen size of 481px */

@media screen and (max-width: 590px) {
    .right iframe{
        width: 450px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .left iframe{
        width: 450px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .center iframe{
        width: 450px;
        border: 1px solid black;
        border-radius: 5px;
    }
}

/* Styling for 481px — 768px: iPads, Tablets. */
@media only screen and (min-width:481px) and (max-width: 768px) {


    #no-display{
         display: none;
     }
    
     #menu{
         font-size: 80%;
     }
 
     /* form styling */
     .form{
         width: 100%;
         position: absolute;
         left: 0;
         right: 0;
         margin-left: auto;
         margin-right: auto;
         
     }
     
 
     #submit, #reset{
         float: right;
         margin-right: 10px;
     }
 
     .form-btn-center{
         
         justify-content: center;
         display: flex;
     }
 
     /* Styling for images and specifications */
 
     /* Check how to do this  */
     #road-bikes div > img, #mtb div > img{
         height: auto;
         max-width: 400px;
         border: 2px solid rgb(130,87,34);
         border-radius: 5px;
         margin-top: 10px;
     } 
     
     .bike-specs{
         margin: 0 auto;
         border: 2px solid rgb(130,87,34);
         border-radius: 5px;
         border-collapse: collapse;
         max-width: 400px;
     }
 
 }

 /* Styling for 320px — 480px: Mobile devices. */
@media only screen and (min-width:320px) and (max-width: 480px) {

    /* Hero text styling */
    #hero-text{
        left:auto;
    }

    /* video styling */
    .right iframe{
        width: 300px;
        height: auto;
        border: 1px solid black;
        border-radius: 5px;
    }

    .left iframe{
        width: 300px;
        height: auto;
        border: 1px solid black;
        border-radius: 5px;
    }

    .center iframe{
        width: 300px;
        height: auto;
        border: 1px solid black;
        border-radius: 5px;
    }

   
    /* menu styling */

    #menu{
        clear:left;
        float:left;
        margin: auto;
    }

    #no-display{
        display: none;
    }

    #header{
        height: 75px;
        line-height: 25px;
        font-size: 80%;
        display: grid;
        text-align: center;
    }  

    #menu a{
        clear: left;
        text-align: center;
        font-size: small;
        left: 20px
    }

    /* Header styling for small screens */

    .head-title h2{
        top: 100px;
        min-width: 220px;
        max-width: 320px;
    }
    
    /* form styling */
    .form-btn-center{
        
        justify-content: center;
        display: flex;
    }

    .form{
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    /* Styling for images and specifications */

    
    #road-bikes div > img, #mtb div > img{
        height: auto;
        max-width: 300px;
        border: 2px solid rgb(130,87,34);
        border-radius: 5px;
        margin-top: 10px;
    } 
    
    .bike-specs{
        margin: 0 auto;
        border: 2px solid rgb(130,87,34);
        border-radius: 5px;
        border-collapse: collapse;
        max-width: 300px;
    }

    #footer{
        font-size: smaller;
    }
}