

*{
    padding: 0;
    margin: 0;
    background-color: rgb(224,228,255);
    
}
/* header and nav bar styling */
#header{
    height: 50px;
}

#header h1{
    float: left;
    margin-left: 20px;
}

#header a{
    height: 50%;
    width: auto;
    background-color:rgb(78,209,42);
}

i{
    background-color: rgb(78,209,42);
}

#menu{
    float: right;

}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 20px;
    font-size: 120%;

   
}

#menu a{
    text-decoration: none;
    color: rgb(130,87,34);
    text-transform: uppercase;
    border: 2px solid rgb(130,87,34);
    border-radius: 30%;
    background-color: rgb(78,209,42);
    padding: 5px;

}

#header, #menu{
    line-height: 50px;
}

/* This is hidden for now as i want to figure out how to make the header a single line */


/* #header{
    width:100%;

    background-color: rgb(130, 87, 34);    
    background-size: cover;
    overflow:hidden;
}

#header h1{
    padding: 10px;
    margin: 0 auto;
    text-align: center;
  

}

#menu{
    width: 100%;
    margin: 0 auto;
    
}

#menu a{
        width: 100%;
        margin: 0 auto;
}


#menu li{
    list-style-type: none;
    float: right;
    border: 1px solid black;
    width: 30%;
    text-align: center;
    background-color:green
}

#menu a, #header h1 a{
    color: white;
    text-decoration: none;
} */

#hero-image{
    height: 100vh;
    width: 100%;
    background: url(/assets/images/main-cover.jpg) center center no-repeat;
    background-size: auto;
    
   }
/* road bikes styling  */

section > h2{
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(130,87,34);
    border-style: solid;
    border-color: rgb(78,209,42);
    border-width: 2px 0;
    /* border-width: 2px;
    border-style: solid;
    border-top:rgb(78,209,42);
    border-bottom: rgb(78,209,42); */

}

/* sizing for images of bikes */

#road-bikes li{
    width: 60%;
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
}
#road-bikes div > img{
    height: 300px;
    width: auto;
    border: 2px solid rgb(130,87,34);
    border-radius: 5px;
}

/* Specifications table  */

.bike-specs{
    margin: 0 auto;
}


table, td, th{
    background-color: rgb(78,209,42);
}

.bike-specs td{
    text-align: left;
}

.bike-specs th{
    text-align: left;
    padding-right: 10px;
}

.bike-specs a{
    background-color: rgb(78,209,42);
}